# Node
node_modules/
dist/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.python-version
.env
venv/
venv*/
.venv/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg
.installed.cfg
*.egg-info/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.mypy_cache/